mixin slider(data)
	.slider__container
		+b('ul').slider.rslides&attributes(attributes)
			each item in data
				- var words = item.caption.title1.split(' ');
				- var firstWord = words[0];
				- var secondWord = words[1];
				- var otherWords = words.slice(2).join('')
				+e('li').item
					+e('img').img&attributes({src: item.src})

					if (item.caption)
						+e.caption 

							+e.caption-title.wow.fadeInUp #{firstWord}
									span #{secondWord}
									|	#{otherWords}
							+e.caption-title.wow.fadeInUp(data-wow-delay="1s") #{item.caption.title2}
							+e.caption-sub-title.wow.fadeInUp(data-wow-delay="1.5s") #{item.caption.subtitle}
							+button({mod: 'primary'})
								| contact us
		block
